@charset "utf-8";

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
  margin: 0;
  padding: 0;
}

#wrap {
  min-width: 1320px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
}

#header_wrap {
  box-sizing: border-box;
  padding: 0px 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  margin: 0 auto;
  font-weight: bold;
}
#banner_wrap {
  border-bottom: 3px solid black;
}

#fade {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
#fade > ul > li {
  position: absolute;
  top: 0px;
  left: 0;
}
.gnb_wrap {
  display: flex; /* Flex 컨테이너로 설정 */
}
.gnb_wrap > li > a {
  margin: 0 30px; /* 링크 주변 여백 설정 */
  padding: 5px 20px; /* 링크 안 여백 설정 */
  color: black; /* 링크 색상 설정 */
}

.gnb_wrap > li:nth-child(1) > a:hover {
  background-color: #4bb749;
  border-radius: 20px;
  color: white;
}
.gnb_wrap > li:nth-child(2) > a:hover {
  background-color: #febe30;
  border-radius: 20px;
  color: white;
}
.gnb_wrap > li:nth-child(3) > a:hover {
  background-color: #f15f59;
  border-radius: 20px;
  color: white;
}
#banner_wrap {
  height: 600px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}

#container {
  text-align: center;
  margin: 0 auto;
  width: 1320px;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.content_wrap > h1 {
  height: 80px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  border-bottom: 3px solid black;
}

.img_wrap {
  width: 300px;
  height: 400px;
  background-color: black;
  box-sizing: border-box;
}
.item_bg {
  width: 300px;
  height: 400px;
  background: url(/img/tufinal.jpg);
  background-size: cover;
}
.item_bg2 {
  width: 450px;
  height: 300px;
  background: url(/img/tufamily2.jpg);
  background-size: cover;
}

.item_bg3 {
  width: 290px;
  height: 400px;
  background: url(/img/cd.png);
  background-size: cover;
}

.box {
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}
.box > h2 {
  margin: 30px 0px;
}
.txt {
  padding: 20px 0px;
  font-size: 20px;
}
.box2 {
  border-bottom: 3px solid black;
}
.content3 > h1 {
  height: 130px;
}
#footer {
  border-top: 3px;
}
.gnb_wrap > li:nth-child(3) {
  position: relative;
}
.submenu {
  position: absolute;
  top: 60px;
  right: 0;
  height: 180px;
  width: 170px;
  z-index: 9;
  background-color: #f2f3f4;
  box-shadow: 5px 5px 10px #7777776c;
  border-radius: 20px;
  display: none;
}
.gnb_wrap > li:hover > .submenu {
  display: block;
}
.gnb_wrap > li {
  padding: 21px;
}
.submenu {
  padding: 10px 12px;
  text-align: center;
  box-sizing: border-box;
}

.submenu > li {
  padding: 10px 0px;
  width: 150px;
}
.submenu_wrap {
  text-align: center;
}

.box1 {
  height: 700px;
}
.box2 {
  height: 500px;
}
